* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}
/*Start of Body*/
body {
	background-color: #f3ead1;
	margin: 0;
	padding: 0;
}
/*End of Body*/

/*Start of Navbar*/
.navbar {
	font-family: "Libre Baskerville", sans-serif !important;
	background: #641e1e; !important;
	display: flex;
	flex-wrap: nowrap;
}

.navbar .navbar-brand {
	font-family: "Libre Baskerville", sans-serif !important;
	color: #c39a1c !important;
	font-style: italic !important;
}

.navbar .nav-link {
	font-style: italic !important;
	color: white !important;
	padding: 0;
	margin: 0;
}

.navbar .nav-link:hover {
	color: #c39a1c !important;
}

.navbar-toggler {
	border-color: white;
	width: 50px;
	height: 50px;

}

/*End of Navbar*/

.headings {
	font-family: "Libre Baskerville", sans-serif !important;
	font-size: 25px;
	font-style: italic !important;
}
/*Start of Landing*/
#picture {
	width: 25vh;
	height: 25vh;
}
#my-name {
	font-family: "Libre Baskerville", sans-serif !important;
	font-style: italic !important;
	font-size: 8vh;
	color: #c39a1c;
}

#role {
	font-family: "Oswald", sans-serif !important;
	font-weight: bold !important;
	font-size: 30px;
}

#landing-paragraph {
	font-family: "Raleway", sans-serif !important;
	font-size: 15px;
}

/*End of Landing*/

/*Start of Projects*/
.card-img-top {
	width: 300px;
	height: 200px;
}

.card {
	display: inline-block;
	margin: 13px;
	padding: 0;
}

.card-title {
	font-family: "Libre Baskerville", sans-serif !important;
	font-style: italic, !important
}

.card-text {
	font-family: "Raleway", sans-serif !important;
}
/*End of Projects*/

/*Start of Tools*/
.d-md-flex {
	display: flex !important;
}

.flex-md-column {
	flex-direction: column !important;
}

.row {
	align-items: center;
}

.justify-content-center {
	justify-content: center !important;
}

.tool-img {
	width: 100px;
	height: 100px;
	max-width: 100%;
}

/*End of Tools*/

/*Start of Contacts*/
#contact {
	font-family: "Libre Baskerville", sans-serif !important;
	font-size: 25px;
	font-style: italic !important;
}

a {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
}

#facebook,
#linkedin,
#gitlab,
#github {
	width: 30px;
	height: 30px;
}

#name {
	font-family: "Raleway", sans-serif !important;
	font-size: 15px;
}
#form-col {
	max-width: 600px;
	margin-right: 0.5rem;
	font-size: 13px;
}

.btn {
	background: #641e1e !important;
}
/*End of Contacts*/

/*Footer*/
#footer {
	text-align: center;
	background: #641e1e !important;
	color: #c39a1c;
}

#footer-name {
	font-family: "Libre Baskerville", sans-serif !important;
	font-style: italic !important;
	font-size: 14px;
}

#footer-p {
	font-family: "Raleway", sans-serif !important;
	font-size: 10px;
}